.main-screen {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
	position: relative;
	@include media-breakpoint-down(xs) {
		padding-top: 35px;
	}
	&-text {
		padding-top: 90px;
		padding-bottom: 100px;
		@include media-breakpoint-down(md) {
			padding-bottom: 60px;
		}
		@include media-breakpoint-down(xs) {
			padding-top: 0;
		}
		img {
			margin-bottom: 35px;
		}
		h1 {
			color: $primary-color;
			font-weight: 300;
			font-size: 35px;
			line-height: 1.42;
		    margin-bottom: 20px;
			span {
				font-weight: 700;
			}
		}
		button {
			&:first-child {
				margin-right: 18px;
				@media (max-width: 380px) { 
					margin-bottom: 18px;
				}
			}
		}
	}
	&-pic {
		position: absolute;
		right: 20px;
		text-align: right;
		img {
			@include media-breakpoint-down(md) {
				width: 85%;
			}
		}
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}
}